@model ict.Models.ConferenceModel

<h4>ConferenceModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ConID" class="control-label"></label>
                <input asp-for="ConID" class="form-control" />
                <span asp-validation-for="ConID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConName" class="control-label"></label>
                <input asp-for="ConName" class="form-control" />
                <span asp-validation-for="ConName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConDept" class="control-label"></label>
                <input asp-for="ConDept" class="form-control" />
                <span asp-validation-for="ConDept" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConTel" class="control-label"></label>
                <input asp-for="ConTel" class="form-control" />
                <span asp-validation-for="ConTel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Participant" class="control-label"></label>
                <input asp-for="Participant" class="form-control" />
                <span asp-validation-for="Participant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DtDate" class="control-label"></label>
                <input asp-for="DtDate" class="form-control" />
                <span asp-validation-for="DtDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DtState" class="control-label"></label>
                <input asp-for="DtState" class="form-control" />
                <select asp-for="DtState" class="form-control">
                    <option value="" disabled>กรุณาเลือก</option>
                    <option value="">กรุณาเลือก</option>
                    <option value="" >กรุณาเลือก</option>
                    <option value="" >กรุณาเลือก</option>
                    <option value="" >กรุณาเลือก</option>
                    <option value="" >กรุณาเลือก</option>
                    <option value="" >กรุณาเลือก</option>
                </select>
                <span asp-validation-for="DtState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DtCuser" class="control-label"></label>
                <input asp-for="DtCuser" class="form-control" />
                <span asp-validation-for="DtCuser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DtTitle" class="control-label"></label>
                <input asp-for="DtTitle" class="form-control" />
                <span asp-validation-for="DtTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DtPres" class="control-label"></label>
                <input asp-for="DtPres" class="form-control" />
                <span asp-validation-for="DtPres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DtName" class="control-label"></label>
                <input asp-for="DtName" class="form-control" />
                <span asp-validation-for="DtName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DtPosition" class="control-label"></label>
                <input asp-for="DtPosition" class="form-control" />
                <span asp-validation-for="DtPosition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DtTel" class="control-label"></label>
                <input asp-for="DtTel" class="form-control" />
                <span asp-validation-for="DtTel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DtEmail" class="control-label"></label>
                <input asp-for="DtEmail" class="form-control" />
                <span asp-validation-for="DtEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DtControl" class="control-label"></label>
                <input asp-for="DtControl" class="form-control" />
                <span asp-validation-for="DtControl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DtPos2" class="control-label"></label>
                <input asp-for="DtPos2" class="form-control" />
                <span asp-validation-for="DtPos2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DtTel2" class="control-label"></label>
                <input asp-for="DtTel2" class="form-control" />
                <span asp-validation-for="DtTel2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DtDate2" class="control-label"></label>
                <input asp-for="DtDate2" class="form-control" />
                <span asp-validation-for="DtDate2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Users" class="control-label"></label>
                <input asp-for="Users" class="form-control" />
                <span asp-validation-for="Users" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reason" class="control-label"></label>
                <input asp-for="Reason" class="form-control" />
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="URL" class="control-label"></label>
                <input asp-for="URL" class="form-control" />
                <span asp-validation-for="URL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Borrow" /> @Html.DisplayNameFor(model => model.Borrow)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
