@{
    ViewData["Title"] = "Events Page";
}
<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                @*<h3>Calendar</h3>
                    <p class="text-subtitle text-muted">ปฏิทินผู้ขอใช้บริการ</p>*@
            </div>
            @*<div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class='breadcrumb-header'>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="~/">หน้าหลัก</a></li>
                            <li class="breadcrumb-item active" aria-current="page">ปฏิทิน Tele Conference</li>
                        </ol>
                    </nav>
                </div>*@
        </div>

    </div>
    <section class="section">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">เอกสารประกอบการประชุม</h4><p></p>
                @*<span class="badge bg-primary">รอการอนุมัติ</span>
                <span class="badge bg-success">อนุมัติ</span>
                <span class="badge bg-danger">ไม่อนุมัติ</span>*@
            </div>
            <div class="card-body">
                <link rel="icon" href="https://boychawin.com/B_images/logoboychawin.com.png" type="image/png">
                <link rel="stylesheet" href="~/lib/jquery.fancybox.css" type="text/css" media="screen">
                <link href="~/fullcalendar/fullcalendar.css" rel="stylesheet">
                <link href="~/fullcalendar/fullcalendar.print.css" rel="stylesheet" media="print">
                <script src="~/lib/jquery/dist/jquery.min.js"></script>
                <script src="~/lib/moment.min.js"></script>
                <script src="~/fullcalendar/fullcalendar.min.js"></script>
                <script src="~/lib/lang/th.js"></script>
                <script src="~/lib/jquery.fancybox.pack.js"></script>

                <script type="text/javascript">
                    jQuery(document).ready(function () {

                        $('#Events').fullCalendar({
                            header: {
                                left: 'prev,next today',
                                center: 'title',
                                right: 'month,agendaWeek,agendaDay'
                            },
                            eventLimit: true,
                            defaultDate: new Date(),
                            timezone: 'Asia/Bangkok',
                            events: {
                                url: 'api/apiEvents',
                            },
                            loading: function (bool) {
                                $('#loading').toggle(bool);
                            },
                            viewRender: function (view, element) {
                                setTimeout(function () {
                                    var oldYear = $(".fc-toolbar").find(".fc-center").text();
                                    oldYear = $.trim(oldYear);
                                    var oldY = oldYear.substr(-4);
                                    var newY = parseInt(oldY) + 543;
                                    oldYear = oldYear.replace(oldY, newY);
                                    $(".fc-toolbar").find(".fc-center").find("h2").text(oldYear);
                                }, 10);
                            },
                        });
                    });
                </script>

                <div id='Events'></div>
            </div>
        </div>
    </section>
</div>
