@model ict.Models.Login
@{
    IEnumerable<OfficeModel> Officedata = ViewData["Officedata"] as IEnumerable<OfficeModel>;

}
<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>สร้างผู้ใช้งาน</h3>
                @*<p class="text-subtitle text-muted">@ViewData["Username"]</p>*@
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        @*<li class="breadcrumb-item"><a asp-action="Index">จอง Conference</a></li>
                        <li class="breadcrumb-item active" aria-current="page">สร้างการจอง Conference</li>*@
                    </ol>
                </nav>
            </div>
        </div>

    </div>
    <hr />
    <section class="section">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">สร้างผู้ใช้งาน</h4>
                <div class="text-danger">*</div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            @*<div class="form-group">
            <label asp-for="UserId" class="control-label"></label>
            <input asp-for="UserId" class="form-control" />
            <span asp-validation-for="UserId" class="text-danger"></span>
        </div>*@
                            <div class="form-group">
                                <label asp-for="UserName" class="control-label"></label>
                                <input asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="control-label"></label>
                                <input asp-for="Password" type="password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="fullname" class="control-label"></label>
                                <input asp-for="fullname"  class="form-control" />
                                <span asp-validation-for="fullname" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="IsActive" class="control-label"></label>
                                <select asp-for="IsActive" class="form-control">
                                    <option value="2">ผู้ดูแลระบบ</option>
                                    <option value="1">ผู้ใช้งาน</option>
                                </select>
                                <span asp-validation-for="IsActive" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="OfficeName" class="control-label"></label>
                                <select asp-for="OfficeName" class="form-control">
                                    <option disabled selected>กรุณาเลือก</option>
                                    @foreach (var item in Officedata)
                                    {
                                        <option value="@item.OfficeName">@item.OfficeName</option>
                                    }
                                </select>
                                <span asp-validation-for="OfficeName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="สร้าง" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>

                <div>
                    <a onclick="window.history.back()" href="#"><< ย้อนกลับ</a>
                </div>
            </div>
        </div>
    </section>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
