@model IEnumerable<ict.Models.Login>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    IEnumerable<Login> displaydata = ViewData["ListUserData"] as IEnumerable<Login>;

}
<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>ผู้ใช้งาน</h3>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        @*<li class="breadcrumb-item active" aria-current="page">ผู้ใช้งาน</li>*@
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
                <a asp-action="Create" class="btn btn-success sm">สร้างผู้ใช้งาน</a>
                <p></p>
                <table class='table table-striped' id="table1">
                    <thead>
                        <tr>
                            <th>ชื่อผู้ใช้งาน</th>
                            <th>ระดับการใช้งาน</th>
                            <th>หน่วยงาน</th>
                            <th>จัดการ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in displaydata)
                        {
                            <tr>
                                <td>@item.UserName</td>
                                <td>
                                    @if (@item.IsActive == 1)
                                    {
                                        <p>ผู้ใช้งาน</p>
                                    }
                                    else
                                    {
                                        <p>ผู้ดูแลระบบ</p>
                                    }
                                </td>
                                <td>@item.OfficeName</td>
                                    <td>
                                        <a asp-controller="Login"
                                           asp-action="Delete"
                                           asp-route-id="@item.UserId" class="btn btn-danger btn-sm "><i data-feather="trash-2" width="20"></i></a>
                                    </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </section>
</div>
