<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HELP DESK สำนักเทคโนโลยีสารสนเทศ</title>

    <link rel="stylesheet" href="~/assets/css/bootstrap.css">

    <link rel="stylesheet" href="~/assets/vendors/quill/quill.bubble.css">
    <link rel="stylesheet" href="~/assets/vendors/quill/quill.snow.css">

    <link rel="stylesheet" href="~/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/assets/css/app.css">
    <link rel="stylesheet" href="~/fonts/thsarabunnew.css" />
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">
    @*<link rel="shortcut icon" href="~/assets/images/favicon.svg" type="image/x-icon">*@

    <link rel="stylesheet" href="~/assets/vendors/simple-datatables/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@100&display=swap" rel="stylesheet">

</head>

<body>
    <div id="app">
        <div id="sidebar" class='active'>
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    @*<h1>ICT Admin</h1>
                        <img src="~/assets/images/logo/logo.png" width="170" height="200" alt="">
                        <img src="assets/images/logo.svg" alt="" srcset="">*@
                </div>
                <div class="d-flex justify-content-center"><img src="~/assets/images/logo/logo.png" width="170" height="200" alt=""></div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        @*<li class='sidebar-title'>หน้าเมนูหลัก</li>*@
                        <li class="sidebar-item  ">
                            <a href="~/" class='sidebar-link'>
                                <i data-feather="home" width="20"></i>
                                <span>หน้าหลัก</span>
                            </a>

                        </li>
                        @*<li class='sidebar-title'>หน้าเมนูหลัก</li>*@
                        @*<li class="sidebar-item  ">
            <a href="~/Conference/Create" class='sidebar-link'>
                <i data-feather="home" width="20"></i>
                <span>จอง Tele Conference</span>
            </a>

        </li>*@
                        @*<li class="sidebar-item  " style="display:none">
            <a href="~/Conference/" class='sidebar-link'>
                <i data-feather="camera" width="20"></i>
                <span>จอง Tele Conference</span>
            </a>
        </li>*@

                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i data-feather="camera" width="20"></i>
                                <span>จอง Tele Conference</span>
                            </a>

                            <ul class="submenu ">

                                <li>
                                    <a href="~/Conference/">รายการจอง Tele Conference</a>
                                </li>
                                @if (ViewData["Username"] != null)
                                {
                                    <li class='sidebar-title'>สถานะการจอง</li>
                                    <li>
                                        <a href="~/Conference/Waiting">รออนุมัติ</a>
                                    </li>

                                    <li>
                                        <a href="~/Conference/Approve">อนุมัติ</a>
                                    </li>

                                    <li>
                                        <a href="~/Conference/DisApprove">ไม่อนุมัติ</a>
                                    </li>
                                }

                            </ul>

                        </li>

                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i data-feather="airplay" width="20"></i>
                                <span>ยืมครุภัณฑ์</span>
                            </a>

                            <ul class="submenu ">

                                @*<li>
                    <a href="~/Borrow/" style="display:none">ขออนุมัติยืมครุภัณฑ์</a>
                </li>*@
                                <li>
                                    <a href="~/Borrow/ShowAdd">ใบยืมครุภัณฑ์</a>
                                </li>


                            </ul>

                        </li>

                        <li class="sidebar-item  ">
                            <a href="~/Web/" class='sidebar-link'>
                                <i data-feather="globe" width="20"></i>
                                <span>ขอลงเว็บไซต์</span>
                            </a>
                        </li>
                        <li class="sidebar-item  ">
                            <a href="~/Repair/" class='sidebar-link'>
                                <i data-feather="settings" width="20"></i>
                                <span class="text-danger">แจ้งการรับบริการ(กำลังปรับปรุง)</span>
                            </a>
                        </li>
                        <li class="sidebar-item  ">
                            <a href="~/manual/manual.pdf" class='sidebar-link'>
                                <i data-feather="file-text" width="20"></i>
                                <span>คู่มือการใช้งาน</span>
                            </a>

                        </li>

                        @if (ViewBag.Message == "2")
                        {
                            <li class='sidebar-title'>ผู้ดูแลระบบ</li>
                            <li class="sidebar-item  has-sub">
                                <a href="#" class='sidebar-link'>
                                    <i data-feather="users" width="20"></i>
                                    <span>จัดการผู้ใช้งาน</span>
                                </a>

                                <ul class="submenu ">

                                    <li>
                                        <a href="~/Login/ListUser">ผู้ใช้งาน</a>
                                    </li>
                                    <li>
                                        <a href="~/Login/Create">สร้างผู้ใช้งาน</a>
                                    </li>

                                </ul>

                            </li>
                        }

                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <nav class="navbar navbar-header navbar-expand navbar-light">
                <a class="sidebar-toggler" href="#"><span class="navbar-toggler-icon"></span></a>
                <button class="btn navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav d-flex align-items-center navbar-light ms-auto">
                        <li class="dropdown nav-icon" style="display:none">
                            <a href="#" data-bs-toggle="dropdown"
                               class="nav-link  dropdown-toggle nav-link-lg nav-link-user">
                                <div class="d-lg-inline-block">
                                    <i data-feather="bell"></i>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-large">
                                <h6 class='py-2 px-4'>Notifications</h6>
                                <ul class="list-group rounded-none">
                                    <li class="list-group-item border-0 align-items-start">
                                        <div class="avatar bg-success me-3">
                                            <span class="avatar-content"><i data-feather="shopping-cart"></i></span>
                                        </div>
                                        <div>
                                            <h6 class='text-bold'>New Order</h6>
                                            <p class='text-xs'>
                                                An order made by Ahmad Saugi for product Samsung Galaxy S69
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="dropdown nav-icon me-2" style="display:none">
                            <a href="#" data-bs-toggle="dropdown"
                               class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                                <div class="d-lg-inline-block">
                                    <i data-feather="mail"></i>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="#"><i data-feather="user"></i> Account</a>
                                <a class="dropdown-item active" href="#"><i data-feather="mail"></i> Messages</a>
                                <a class="dropdown-item" href="#"><i data-feather="settings"></i> Settings</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"><i data-feather="log-out"></i> Logout</a>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a href="#" data-bs-toggle="dropdown"
                               class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                                <div class="avatar me-1">
                                    <img src="~/assets/images/avatar/avatar-s-1.png" alt="" srcset="">
                                </div>
                                <div class="d-none d-md-block d-lg-inline-block">
                                    @if (ViewData["Username"] != null)
                                    {
                                        @ViewData["fullname"];
                                    }
                                    else
                                    {
                                        <span>ผู้ใช้งานทั่วไป</span>
                                    }

                                </div>

                            </a>

                            <div class="dropdown-menu dropdown-menu-end">
                                @if (ViewData["Username"] == null)
                                {
                                    <a class="dropdown-item" asp-action="Index" asp-controller="Login"><i data-feather="user"></i> เข้าสู่ระบบ</a>



                                    @*<a class="dropdown-item" href="#"><i data-feather="user"></i> Account</a>
                                        <a class="dropdown-item active" href="#"><i data-feather="mail"></i> Messages</a>
                                        <a class="dropdown-item" href="#"><i data-feather="settings"></i> Settings</a>*@


                                    <div class="dropdown-divider"></div>
                                }
                                else
                                {
                                    <a class="dropdown-item" asp-action="Password" asp-controller="Login"><i data-feather="lock"></i> เปลี่ยนรหัสผ่าน</a>
                                    <a class="dropdown-item" asp-action="Logout" asp-controller="Login"><i data-feather="log-out"></i> ออกจากระบบ</a>
                                }
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            @RenderBody()


            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2020 &copy; Voler</p>
                    </div>
                    <div class="float-end">
                        <p>

                        </p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/assets/js/feather-icons/feather.min.js"></script>
    <script src="~/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script src="~/assets/vendors/quill/quill.min.js"></script>
    <script src="~/assets/js/pages/form-editor.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/feather-icons/feather.min.js"></script>
    <script src="~/assets/vendors/simple-datatables/simple-datatables.js"></script>
    <script src="~/assets/js/vendors.js"></script>

    

    @RenderSection("Scripts", required: false)
</body>
</html>
