@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<link href="~/assets/css/Signature.css" rel="stylesheet" />

<form method="post" asp-controller="Home" asp-action="Privacy">
    <div class="tools">
        <a href="#colors_sketch" class=" btn btn-outline-dark" data-tool="marker">เซ็นต์ชื่อ</a>
        <a href="#colors_sketch" class=" btn btn-info" data-tool="eraser">ลบ</a>
    </div>
    <br />
    <div class="wrapper">
        <canvas id="signature-pad" class="signature-pad" width=400 height=200></canvas>
    </div>

    @*<button id="save-png">Save as PNG</button>
        <button id="save-jpeg">Save as JPEG</button>
        <button id="save-svg">Save as SVG</button>
        <button id="draw">Draw</button>
        <button id="erase">Erase</button>
        <button id="clear">Clear</button>*@

    <input type="hidden" name="base64String" />
    <br />
    <input id="btnSubmit" class="btn btn-success" type="submit" value="บันทึก" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sketch.js/1.0/sketch.min.js"></script>
    <script src="~/assets/js/signature_pad.js"></script>
    <script type="text/javascript">
        $("body").on("click", "#btnSubmit", function () {
            var base64 = $('#signature_pad')[0].toDataURL();
            $("input[name=base64String]").val(base64);
        });
    </script>
</form>
