@model IEnumerable<ict.Models.dataBorrowsModels>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                
            </th>
            <th>
                
            </th>
            <th>
               
            </th>
            <th>
               
            </th>
            <th>
                
            </th>
            <th>
                
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                
            </td>
            <td>
               
            </td>
            <td>
               
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
               
            </td>
        </tr>

    </tbody>
</table>
