@model ict.Models.BorrowsAddModel

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript">

        function check() {
            if (document.getElementById('txt_projector').value == "" &&
                document.getElementById('txt_Speaker').value == "" &&
                document.getElementById('txt_Tripod').value == "" &&
                document.getElementById('txt_Camera').value == "" &&
                document.getElementById('txt_Tablet').value == "" &&
                document.getElementById('txt_Notebook').value == "")
            {
                alert('กรุณากรอกข้อมูลให้ครบและถูกต้อง');
                return false;
            }
        }
    </script>

    <div class="main-content container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>ขออนุมัติยืม วัสดุ/ครุภัณฑ์</h3>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class='breadcrumb-header'>
                        <ol class="breadcrumb">
                            @*<li class="breadcrumb-item active" aria-current="page">รายการยืม วัสดุ/ครุภัณฑ์</li>*@
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <section class="section">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Create2" onSubmit="JavaScript:return check();" autocomplete="off" >
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Subject" class="control-label"></label>
                                    <input asp-for="Subject" class="form-control" value="ขออนุมัติยืมครุภัณฑ์" disabled />
                                    <span asp-validation-for="Subject" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Dept" class="control-label"></label>
                                    <input asp-for="Dept" class="form-control" value="@ViewData["OfficeName"]" disabled />
                                    @*<select asp-for="Dept" class="form-control"
                                                asp-items="new SelectList(Enum.GetValues(typeof(ict.enums.EnumOffice.Office)))">
                                            <option value="" disabled selected>เลือกหน่วยงาน</option>
                                        </select>*@
                                    <span asp-validation-for="Dept" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Objectives" class="control-label"></label>
                                    <textarea asp-for="Objectives" class="form-control"></textarea>
                                    @*<input asp-for="Objectives"  class="form-control" />*@
                                    <span asp-validation-for="Objectives" class="text-danger"></span>
                                </div>
                                @*<div class="form-group">
                                        <label asp-for="Dates" class="control-label"></label>
                                        <select asp-for="Dates" class="form-control"
                                                asp-items="new SelectList(Enum.GetValues(typeof(ict.enums.enumTime.Times)))">
                                            <option value="" disabled selected>กรุณาเลือก</option>
                                        </select>
                                    </div>*@
                                <div class="form-group">
                                    <label asp-for="Sdate" class="control-label"></label>
                                    <input asp-for="Sdate" class="form-control" />
                                    <span asp-validation-for="Sdate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Edate" class="control-label"></label>
                                    <input asp-for="Edate" class="form-control" />
                                    <span asp-validation-for="Edate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="NameAdd" class="control-label"></label>
                                    <input asp-for="NameAdd" class="form-control" />
                                    <span asp-validation-for="NameAdd" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Tel" class="control-label"></label>
                                    <input asp-for="Tel" class="form-control" />
                                    <span asp-validation-for="Tel" class="text-danger"></span>
                                </div>
                                <ul class="list-unstyled mb-0">
                                    <li class="d-inline-block me-2 mb-1">
                                        <div class="form-check">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="form-check-input form-check-primary form-check-glow" asp-for="Notebook" id="Notebook" onclick="Check2();">
                                                <label class="form-check-label" for="customColorCheck3">NoteBook</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input asp-for="n_Notebook" type="number" class="form-control" width="1" id="txt_Notebook" disabled>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="d-inline-block me-2 mb-1">
                                        <div class="form-check">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="form-check-input form-check-secondary form-check-glow" asp-for="Tablet" id="Tablet" onclick="Check2();">
                                                <label class="form-check-label" for="customColorCheck3">Tablet</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input asp-for="n_Tablet" type="number" class="form-control" width="1" id="txt_Tablet" disabled>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="d-inline-block me-2 mb-1">
                                        <div class="form-check">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="form-check-input form-check-success form-check-glow" asp-for="Camera" id="Camera" onclick="Check2();">
                                                <label class="form-check-label" for="customColorCheck3">กล้อง Conference</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input asp-for="n_Camera" type="number" class="form-control" width="1" id="txt_Camera" disabled>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="d-inline-block me-2 mb-1">
                                        <div class="form-check">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="form-check-input form-check-danger form-check-glow" asp-for="Tripod" id="Tripod" onclick="Check2();">
                                                <label class="form-check-label" for="customColorCheck3">ขาตั้งกล้อง</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input asp-for="n_Tripod" type="number" class="form-control" width="1" id="txt_Tripod" disabled>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="d-inline-block me-2 mb-1">
                                        <div class="form-check">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="form-check-input form-check-info form-check-glow" asp-for="Speaker" id="Speaker" onclick="Check2();">
                                                <label class="form-check-label" for="customColorCheck3">ลำโพง Bluetooth</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input asp-for="n_Speaker" type="number" class="form-control" width="1" id="txt_Speaker" disabled>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="d-inline-block  me-2 mb-1">
                                        <div class="form-check">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="form-check-input form-check-warning form-check-glow" asp-for="Projector" id="projector" onclick="Check2();">
                                                <label class="form-check-label" for="customColorCheck3">Projector</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input asp-for="n_Projector" type="number" class="form-control" width="1" id="txt_projector" disabled>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <script type="text/javascript">
                                    function Check2() {
                                        {
                                            var op1 = document.getElementById("projector");
                                            if (op1.checked == false) {
                                                document.getElementById("txt_projector").disabled = true;
                                            } else {
                                                document.getElementById("txt_projector").disabled = false;
                                            }

                                            var op1 = document.getElementById("Speaker");
                                            if (op1.checked == false) {
                                                document.getElementById("txt_Speaker").disabled = true;
                                            } else {
                                                document.getElementById("txt_Speaker").disabled = false;
                                            }

                                            var op1 = document.getElementById("Tripod"); 
                                            if (op1.checked == false) {
                                                document.getElementById("txt_Tripod").disabled = true;
                                            } else {
                                                document.getElementById("txt_Tripod").disabled = false;
                                            }

                                            var op1 = document.getElementById("Camera");
                                            if (op1.checked == false) {
                                                document.getElementById("txt_Camera").disabled = true;
                                            } else {
                                                document.getElementById("txt_Camera").disabled = false;
                                            }

                                            var op1 = document.getElementById("Tablet");
                                            if (op1.checked == false) {
                                                document.getElementById("txt_Tablet").disabled = true;
                                            } else {
                                                document.getElementById("txt_Tablet").disabled = false;
                                            }

                                            var op1 = document.getElementById("Notebook");
                                            if (op1.checked == false) {
                                                document.getElementById("txt_Notebook").disabled = true;
                                            } else {
                                                document.getElementById("txt_Notebook").disabled = false;
                                            }

                                            var op1 = document.getElementById("Notebook");
                                            if (op1.checked == false) {
                                                document.getElementById("txt_Notebook").disabled = true;
                                            } else {
                                                document.getElementById("txt_Notebook").disabled = false;
                                            }
                                        }
                                    }
                                </script>
                                <div class="form-group">
                                    <script type="text/javascript">
                                        function Check() {
                                            //var Rows = document.frmMain.hdnRows.value;
                                            {
                                                var op1 = document.getElementById("chk");
                                                if (op1.checked == false) {
                                                    document.getElementById("type_other").disabled = true;
                                                    // alert('กรุณาเลือกไฟล์');
                                                    //return false;
                                                } else {
                                                    document.getElementById("type_other").disabled = false;
                                                }
                                            }
                                        }
                                    </script>
                                    <p></p>
                                    <input type="checkbox" class="form-check-input form-check-warning form-check-glow" id="chk" onclick="Check();">
                                    <span class="text-danger"> **คลิกเพื่อยอมรับ</span>
                                    <p>
                                        @ViewData["OfficeName"] กรมสุขภาพจิต ขอรับผิดชอบอุปกรณ์ที่ยืมไป
                                        หากชำรุดเสียหาย ยินดีจะชดใช้ค่าเสียหายที่เกิดขึ้นให้กับสำนักเทคโนโลยีสารสนเทศ
                                    </p>
                                    <input type="submit" value="บันทึก" class="btn btn-success" id="type_other" disabled />
                                </div>
                            </form>
                        </div>
                    </div>

                    <div>
                        <a onclick="window.history.back()" href="#"><< ย้อนกลับ</a>
                    </div>
                </div>
            </div>

        </section>
    </div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
